- name: Install postfix-watcher
  pip:
    name: postfix-watcher

- name: Copy config
  copy:
    src: ../config/postfix-watcher.yaml.dist
    dest: /etc/postfix-watcher.yaml

- name: Install systemd service
  copy:
    src: ../systemd/postfix-watcher.service
    dest: /etc/systemd/system/postfix-watcher.service

- name: Add environment file
  copy:
    src: ../systemd/postfix-watcher.env
    dest: /etc/postfix-watcher.env

- name: Enable and start service
  systemd:
    name: postfix-watcher
    enabled: yes
    state: started
